
<% if @posts %>
  <% @posts.each do |post| %>
    <div class="posts">
      <h3 class="post_title"><a href="/posts/<%=post.id%>"><%= post.title %></a></h3>
      <a href="/posts/user/<%= post.author %>"><%= post.author %></a>
      <p class="post_body"><%= post.body %></p>
      <!-- <p class="tag_label">Tags :</p> -->
      <ul class="tag_list">
        <% if post.tags %>
          <% post.tags.each do |tag| %>
            <li><a href="/tags/<%= tag.name %>"><%= tag.name %></a></li>
          <% end %>
        <% end %>
      </ul>
      <p class="datetime"><%= post.fix_datetime %></p>
    </div>
  <% end %>
<% end %>

