<% @post = @post.first %>
<div class="single_post">
  <h3 class="post_title"><%= @post.title %></h3>
  <p><%= @post.author %></p>
  <p class="post_body"><%= @post.body %></p>

  <ul class="tag_list">
    <% if @post.tags %>
      <% @post.tags.each do |tag| %>
        <li><a href="/tags/<%= tag.name %>"><%= tag.name %></a></li>
      <% end %>
    <% end %>
  </ul>
  <p class="datetime"><%= @post.fix_datetime %></p>
</div>

<form action="/posts/<%=@post.id%>/edit">
  <input class="edit_button" type="submit" value="Edit Post">
</form>



